body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #1d1d1f;
}

header {
    background-color: #313133;
    border-bottom: 2px solid green !important;
    height: 80px;
}

body {
    display: flex !important;
    flex-direction: column !important;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.titulo {
    padding: 15px 0;
    margin-left: 80px;
    width: 120px;
}

.logotype {
    position: relative;
    width: 100%;
}

.titulo h1 {
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 5px black;
    font-size: 0.4rem;
    font-family: "Playwrite BE VLG", cursive;
    margin-top: -20px;
    rotate: -5deg;
    margin-left: 50px;
    z-index: 3;
}


.account_header {
    width: auto;
    padding: 32px 10px 12px 10px;
    margin-right: 80px;
}
.dropdown {
    white-space: nowrap;
}
.account_header a {
    font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: 0 0 10px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dropdown_account {
    display: none;
    position: absolute;
    top: 38px;
    right: 90px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid rgb(71, 71, 71);
    box-shadow: 0px 5px 10px 2px #0000000e;
    background-color: rgb(58, 58, 58);
    z-index: 12;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown:hover .dropdown_account{
    display: block;
}

.dropdown_account:after {
    position: absolute;
    top: -10px;
    right: 15%;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid  rgb(71, 71, 71);
    border-left: 10px solid transparent;
    content: '';
}
.dropdown_account ul {
    font-family: Roboto;
}
.dropdown_account ul li {
    height: 15px;
    padding: 10px 15px;
    margin-bottom: 1px;
    color: rgb(207, 207, 207);
    border-radius: 4px;
}
.dropdown_account ul li:hover {
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
}

nav {
    display: flex !important;
    justify-content: center !important;
}

.menu_categories ul {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    list-style-type: none;
    font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 20px; */
    /* padding: 5px; */
}
.menu_categories li {
    margin: 5px 0px;
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.1);
    padding: 0px 10px 10px 10px;
}


.menu_categories a {
    color: #ffffff83;
    text-decoration: none;
}

.menu_categories li a:hover {
    color: #fff;
    border-bottom: 3px solid rgb(0, 199, 0);
    padding-bottom: 7px;
    text-decoration: none;
}
.menu_categories li:hover:nth-child(1) a {
    border-bottom: 3px solid rgb(255, 255, 255) !important;
    padding-bottom: 7px;
    text-decoration: none;
}
.menu_categories li:hover:nth-child(3) a {
    border-bottom: 3px solid rgb(115, 211, 255) !important;
    padding-bottom: 7px;
    text-decoration: none;
}
.menu_categories li:hover:nth-child(4) a {
    border-bottom: 3px solid rgb(199, 146, 0) !important;
    padding-bottom: 7px;
    text-decoration: none;
}
.menu_categories li:hover:nth-child(5) a {
    border-bottom: 3px solid rgb(255, 123, 0) !important;
    padding-bottom: 7px;
    text-decoration: none;
}
.menu_categories li:hover:nth-child(6) a {
    border-bottom: 3px solid rgb(255, 251, 0) !important;
    padding-bottom: 7px;
    text-decoration: none;
}
.menu_categories li:hover:nth-child(7) a {
    border-bottom: 3px solid rgb(255, 254, 169) !important;
    padding-bottom: 7px;
    text-decoration: none;
}
.menu_categories li:hover:nth-child(8) a {
    border-bottom: 3px solid rgb(255, 0, 0) !important;
    padding-bottom: 7px;
    text-decoration: none;
}
.menu_categories li:hover:nth-child(9) a {
    border-bottom: 3px solid rgb(0, 119, 255) !important;
    padding-bottom: 7px;
    text-decoration: none;
}

main {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

section {
    color: #fff;
    font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px !important;
    border-radius: 10px;
}

.cards_section {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.name_category {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}
.name_category p {
    font-family: Roboto;
    font-size: 20px;
}

/*====================================================*/
.cards {
    height: 310px;
    width: 183px;
    border-radius: 10px;
    overflow: hidden;
    filter: opacity(100%);
    margin: 5px;
    background-color: #313133;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
}
.cards_link{
    display: flex;
    justify-content: center;
    color: #8d8d8d;
}


.cards_link .moldura_card{
    height: 310px;
    width: 183px;
    position: absolute;
    z-index: 1;
    /* filter: opacity(80%); */
    /* filter: invert(43%) sepia(88%) saturate(1967%) hue-rotate(163deg) brightness(97%) contrast(101%) opacity(80%); */
    /* filter: invert(77%) sepia(2%) saturate(4%) hue-rotate(97deg) brightness(91%) contrast(89%); */
}
.cards_link .img_card{
    height: auto;
    width: 120px;
    transform: scale(1);
    transition: transform 1s, margin-top 1s ease;
    margin-top: 10px;
}
.cards_link:hover .img_card{
    transform: scale(1.2);
    transition: transform 1s, margin-top 1s ease;
    margin-top: -40px;
    overflow: hidden;
}
.cards:hover {
    box-shadow: 1px 1px 5px black;
}

/* ------- Categoria ----------- */

.cards .cards_link .tag_card {
    position: absolute;
    margin-right: -100px;
    z-index: 2;
}
#tagCategoria {
    /* background-color: rgb(255, 217, 0); */
    box-shadow: 1px 0px 5px black;
    background-color: #5a5a5a;
    border-radius: 0 0 0 10px;
    height: 25px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tagCategoria p {
    font-size: 0.85em;
    font-family: Roboto;
    color: #ffffff;
}
/* --------- Descrição ---------- */
.cards .cards_link .description {
    line-height: 13px;
    max-width: 165px;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 270px;
    z-index: 1;
}
.cards .cards_link .description span {
    color: #f1f1f1 !important;
    font-family: Roboto;
}
.cards .cards_link .description .name {
    font-size: 1em;
    text-shadow: 1px 1px 4px black;
    white-space: nowrap;
    height: 17px;
}
.cards .cards_link .description .date {
    font-size: 0.6em;
    text-shadow: 1px 1px 4px black;
    white-space: nowrap;
}
/* ------------- Menu interno Cards ------------- */
.inner_menu_cards {
    /* background-color: #272727; */
    background-color: #252525;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
    display: none;
    border: 1px solid #33333373;
    /* justify-content: center; */
    justify-items: center;
    /* align-items: center; */
    align-content: center;
    position: absolute;
    margin-top: 5px;
    margin-left: -22px;
    padding: 0px 10px 5px 2px;
    border-radius: 10px 0px 0px 30px;
    height: 55px;
    width: 25px;
    z-index: 0;
}
.inner_menu_cards a {
    /* background-color: blue; */
    margin-bottom: 3px;
    width: 16px;
    height: 16px;
}
.inner_menu_cards .info_img {
    width: 16px;
    height: auto;
    filter: invert(0.8);
}
.inner_menu_cards .info_img:hover {
    filter: invert(1);
}
.inner_menu_cards .heart_img {
    width: 17px;
    height: auto;
    filter: invert(0.8);
}
.inner_menu_cards .heart_img:hover {
    filter: invert(1);
}

.margin_cards:hover .inner_menu_cards {
    display: grid;
}


footer {
    background-color: #313133;
    border-top: 2px solid green !important;
    text-align: center;
    padding: 10px 0 !important;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 80px;
}

.footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}